
@model PagedList.IPagedList<CourseP3.Areas.Admin.Models.Course>
@using PagedList.Mvc
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .pagination {
        border-radius: 0;
        clear: both;
        display: block;
        margin-bottom: 0;
        text-align: center;
        width: 100%;
    }


        .pagination li {
            display: block;
            float: left;
            margin: 0 5px;
        }

            .pagination li a, .pagination li a {
                background: #fff none repeat scroll 0 0;
                color: #3ca060;
                display: block;
                font-weight: 600;
                height: 30px;
                line-height: 30px;
                width: 30px;
            }

                .pagination li a i {
                    font-size: 24px;
                    line-height: 30px;
                }



                .pagination li.active a, .pagination li a:hover {
                    background: #3ca060 none repeat scroll 0 0;
                    color: #fff;
                }
    }
</style>
<div class="site-section ftco-subscribe-1 site-blocks-cover pb-4" style="background-image: url('../../images/bg_1.jpg')">
    <div class="container">
        <div class="row align-items-end">
            <div class="col-lg-7">
                <h2 class="mb-0">Courses</h2>
                <p>
                    Course selection by term.
                </p>
            </div>
        </div>
    </div>
</div>


<div class="custom-breadcrumns border-bottom">
    <div class="container">
        <a href="/Home">Home</a>
        <span class="mx-3 icon-keyboard_arrow_right"></span>
        <span class="current">Courses</span>
    </div>
</div>

<div class="container">
    <div id="myBtnContainer" class="text-center row" style="padding-top:50px">

        <div class="form-group col-4">
            <form action="/Courses" id="listCourse" method="get">
                <select class="form-control" name="listCourse" id="listCourseselect">
                    <option disabled>Select list</option>
                    <option selected="@(ViewBag.Currentlistcourse == "All" ? "selected" : null)" value="All">Show all</option>
                    
                    @foreach (var se in ViewBag.Semes)
                    {
                        
                        <option selected="@(ViewBag.Currentlistcourse == se.Id.ToString() ? "selected" : null)" value="@se.Id">@se.Name</option>
                    }
                </select>
            </form>
        </div>
        <div class="col-8">
            <form action="/Courses" method="get">
                <div id="dataTable_filter" class="dataTables_filter">
                    @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control form-control-sm", style = "width: 100%;font-size:1rem ;padding: 0.375rem 0.75rem;height: calc(2.25rem + 2px); ", placeholder = "Search", onkeypress = "handle(e)" })

                </div>
            </form>

        </div>

    </div>
</div>



<div class="site-section">
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-lg-4 col-md-6 mb-4 @item.Semester.Name filterDiv">
                    <div class="course-1-item ">
                        <figure class="thumnail">
                            <a href="/Courses/Detail/@item.Id"><img src="@item.Image" alt="Image" class="img-fluid"></a>
                            <div class="price">$@item.Price</div>
                            <div class="category">
                                <h3 style=" display: inline-block;
    width: 85%;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;">
                                    @item.Name
</h3>
</div>
</figure>
<div class="course-1-content pb-4">
    <div class="rating text-center mb-3">
        <span class="icon-star2 text-warning"></span>
        <span class="icon-star2 text-warning"></span>
        <span class="icon-star2 text-warning"></span>
        <span class="icon-star2 text-warning"></span>
        <span class="icon-star2 text-warning"></span>
    </div>
    <p style="height:100px" class="desc  mb-4">@item.Description.</p>
    <p><a href="/Courses/Detail/@item.Id" class="btn btn-primary rounded-0 px-4">Enroll In This Course</a></p>
</div>
</div>
</div>
}
        </div>
        <div class="col-sm-12 col-md-4" style="    margin-left: 34%;
    margin-top: 3%;">
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page, pageSize = ViewBag.psize, SearchString = ViewBag.CurrentFilter, listCourse = Request.QueryString["listCourse"] }),
           new PagedListRenderOptions()
           {
               LiElementClasses = new List<string> { "text-paging" }
           })
        </div>
    </div>
</div>
<div class="section-bg style-1" style="background-image: url('../../images/hero_1.jpg');">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
                <span class="icon flaticon-mortarboard"></span>
                <h3>Our Philosphy</h3>
                <p>
                    Learn the latest skills like business analytics, graphic design, Python, and more
                </p>
            </div>
            <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
                <span class="icon flaticon-school-material"></span>
                <h3>Academics Principle</h3>
                <p>
                    Get ready for a career in high-demand fields like IT, AI and cloud engineering
                </p>
            </div>
            <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
                <span class="icon flaticon-library"></span>
                <h3>Key of Success</h3>
                <p>
                    Earn a certificate or degree from a leading university in business, computer science, and more
                </p>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>

        $("#listCourseselect").change(function () {
            $("#listCourse").submit();
        });
        $(function () {
            $("#pageSize").change(function (ev, page, pageSize) {
                var page = $('#page').val();
                var pageSize = $('select#pageSize option:checked').val();
                var listCourse = $('select#listCourseselect option:checked').val();
                window.location.href = window.location.href.split('?')[0] + '?listCourse=' + listCourse + '&page=' + page + '&pageSize=' + pageSize;
            });
        });
        function handle(e) {
            if (e.keyCode === 13) {
                e.preventDefault();
            }
        }
    </script>
}
<script>




    filterSelection("all")
    function filterSelection(c) {
        var x, i;
        x = document.getElementsByClassName("filterDiv");
        if (c == "all") c = "";
        for (i = 0; i < x.length; i++) {
            w3RemoveClass(x[i], "show");
            if (x[i].className.indexOf(c) > -1) w3AddClass(x[i], "show");
        }
    }

    function w3AddClass(element, name) {
        var i, arr1, arr2;
        arr1 = element.className.split(" ");
        arr2 = name.split(" ");
        for (i = 0; i < arr2.length; i++) {
            if (arr1.indexOf(arr2[i]) == -1) { element.className += " " + arr2[i]; }
        }
    }

    function w3RemoveClass(element, name) {
        var i, arr1, arr2;
        arr1 = element.className.split(" ");
        arr2 = name.split(" ");
        for (i = 0; i < arr2.length; i++) {
            while (arr1.indexOf(arr2[i]) > -1) {
                arr1.splice(arr1.indexOf(arr2[i]), 1);
            }
        }
        element.className = arr1.join(" ");
    }

    // Add active class to the current button (highlight it)
    var btnContainer = document.getElementById("myBtnContainer");
    var btns = btnContainer.getElementsByClassName("btn");
    //for (var i = 0; i < btns.length; i++) {
    //    btns[i].addEventListener("click", function () {
    //        var current = document.getElementsByClassName("active");
    //        current[0].className = current[0].className.replace(" active", "");
    //        this.className += " active";
    //    });
    //}
</script>

