@model CourseP3.Models.Question

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}



<div class="page-container">

    <div class="main-content">
        <div class="section__content section__content--p30">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                            </div>

                            @using (Html.BeginForm())
                            {

                                @Html.AntiForgeryToken()

                                <div class="form-horizontal">
                                    <h4>Question</h4>
                                    <hr />

                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.CourseId, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.DropDownList("CourseId", null, htmlAttributes: new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.CourseId, "", new { @class = "text-danger", style = "  height: auto;" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.QuestionContent, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.QuestionContent, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.QuestionContent, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Point, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.Point, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Point, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    @{
                                        for (int i = 0; i < 4; i++)
                                        {
                                            <div class="form-group">
                                
                                                <div class="col-md-2 control-label">
                                                    <input class="" id="check-@i" type="radio" name="Choice" value="" />
                                                </div>
                                                <div class="col-md-10" >
                                                    <input class="form-control" id="choice-@i" type="text" name="name" value="" />
                                                </div>

                                            </div>
                                        }
                                    }
                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            <input id="create-question" type="button" value="Create" class="btn btn-default" />
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>

                    </div>

                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="copyright">
                            <p>Copyright © 2018 Colorlib. All rights reserved. Template by <a href="https://colorlib.com">Colorlib</a>.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
@section scripts
{
    <script type="text/javascript">
        $('#create-question').on('click', function () {
            var question = {},
                listChoices = [],
                choice = {};
            for (var i = 0; i < 4; i++) {
                var val = $('#choice-' + i).val();
                $('#check-' + i).val(val);
            }
            var checkVal = $('input[name=Choice]:checked').val();
            for (var j = 0; j < 4; j++) {
                var choiceVal = $('#choice-' + j).val();
                if (checkVal === choiceVal) {
                    choice = {
                        ChoiceContent:  choiceVal,
                        IsRight: true
                    }
                } else {
                    choice = {
                        ChoiceContent:  choiceVal,
                        IsRight: false
                    }
                }
                listChoices.push(choice);
            }
            question = {
                QuestionContent: $('input[name=QuestionContent]').val(),
                Point: $('input[name=Point]').val(),
                AnswerContent: checkVal,
                CourseId: $("select#CourseId option:selected").val(),
                Choices: listChoices
            }
            console.log(question);
            $.ajax({
                type: 'POST',
                url: '@Url.Action("Create", "Questions")',
                data: { question },

                success: function (response) {
                    window.location.href = '@Url.Action("Index", "Questions")';
                },
                error: function (response) {

                }
            });
        });
    </script>
}

